@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --mainBgColor: rgb(255 255 255);
  --secondaryBgColor: rgb(241 245 249);
  --thirdBgColor: rgb(226 232 240);
  --textColor: rgb(0 0 0);
  --contrastColor: rgb(8 145 178);
  --itemShadow: 0 3px 15px rgb(0, 0, 0, 0.12);
}

.dark {
  --mainBgColor: rgb(23 23 23);
  --secondaryBgColor: rgb(38 38 38);
  --thirdBgColor: rgb(64 64 64);
  --textColor: rgb(255 255 255);
  --contrastColor: rgb(8 145 178);
  --itemShadow: 0 3px 15px rgba(255, 255, 255, 0.12);
}

.gmnoprint button {
  width: 40px;
  height: 40px;
  padding: 12px !important;
}
