@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --mainBgColor: rgb(255 255 255);
  --secondaryBgColor: rgb(241 245 249);
  --textColor: rgb(0 0 0);
  --contrastColor: rgb(8 145 178);
  --itemShadow: @apply shadow-gray-300;
}

.dark {
  --mainBgColor: rgb(23 23 23);
  --secondaryBgColor: rgb(38 38 38);
  --textColor: rgb(255 255 255);
  --contrastColor: rgb(8 145 178);
  --itemShadow: @apply shadow-gray-300;
}
