@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --mainBgColor: rgb(255 255 255);
  --secondaryBgColor: rgb(241 245 249);
  --thirdBgColor: rgb(226 232 240);
  --textColor: rgb(0 0 0);
  --contrastColor: rgb(8 145 178);
  --itemShadow: 0 3px 15px rgb(0, 0, 0, 0.12);
  --itemShadowBottom: 0 5px 5px -5px rgb(0, 0, 0, 0.12);
  --itemShadowWithoutTop: 0 5px 5px -5px rgb(0, 0, 0, 0.12), 5px 0 5px -5px rgb(0, 0, 0, 0.12),
    -5px 0 5px -5px rgb(0, 0, 0, 0.12);
}

.dark {
  --mainBgColor: rgb(23 23 23);
  --secondaryBgColor: rgb(38 38 38);
  --thirdBgColor: rgb(64 64 64);
  --textColor: rgb(255 255 255);
  --contrastColor: rgb(8 145 178);
  --itemShadow: 0 3px 15px rgba(255, 255, 255, 0.12);
  --itemShadowBottom: none;
  --itemShadowWithoutTop: 0 5px 5px -5px rgb(255, 255, 255, 0.12),
    5px 0 5px -5px rgb(255, 255, 255, 0.12), -5px 0 5px -5px rgb(255, 255, 255, 0.12);
}

.gmnoprint button {
  width: 40px;
  height: 40px;
  padding: 12px !important;
}

.gm-style-iw-d {
  overflow: auto !important;
}

.gm-style .gm-style-iw-c {
  padding: 10px !important;
}

.break-anywhere {
  overflow-wrap: anywhere;
}

* {
  scrollbar-width: auto;
  scrollbar-color: rgb(64 64 64) #ffffff;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #bfbfbf;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(64 64 64);
  border-radius: 10px;
  border: 3px solid #ffffff;
}
